.home{
    position: relative;
    height: 100%;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;

    

    &__text-wrapper{
        display: flex;
        justify-content: center;
        
        


        h1{
            color: var(--yellow-theme-main-color);
            margin: 0px;
            font-weight: 500;
            font-size: 8rem;
            line-height: 10rem;
            position: relative;
            overflow: hidden;
            white-space: nowrap;
            animation: typingEffectAnimation 2.5s steps(30,end);
        }
    }

    &__contact-me{
        justify-content: center;
        display: flex;
        margin-top: 15px;

        button{
            cursor: pointer;
            padding: 10px 70px;
            font-size: 2rem;
            background: transparent;
            color: var(--yellow-theme-main-color);
            border: 1.5px solid var(--yellow-theme-main-color);
            border-radius: 4px;
            font-weight: 500;

            &:hover{
                background: var(--yellow-theme-main-color);
                color: #000000;
            }
        }

    }
}

@keyframes typingEffectAnimation{
    from {
        width: 0;
    }
    to {
        width: 100%;
    }

}